h1, form, nav{
    
    text-align: center;
}
body{
    background-color: #D5ED4B;
}
th, td{
    text-align: center;
}
td, th, table{
    border: 1px solid black;
}
div{
    margin: auto;
    width: 400px;
    text-align: center;
}